<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<button type="button"><i class="fa fa-bars"></i></button>
				<span>sections</span>
			</li>
			<li id="search-modal-btn">
				<button type="button"><i class="fa fa-search"></i></button>
				<span>search</span>
			</li>
		</ul>
	</nav>



	<nav class="right-nav">
	<ul>
		<li id="sections-sidebar-btn">
			<span>subscribe now</span>
		</li>
		<li id="search-modal-btn">
			<span>log in</span>
		</li>

		<li id="search-modal-btn">
			<i class="fa fa-cog"></i>
			<span></span>
		</li>

	</ul>
	</nav>


	
</header>