<div class="main-content_container">
    <div class="news-content_container">
        <h1 class="news-content_header"><span class="button">Launching the New React/Redux Curriculum</span></h1>
            <h4 class="news-content_subheader">By APP ACADEMY INSTRUCTIONAL TEAM</h4>

            <ul class="news-content_section">
                <li>Bavaria ipsum dolor sit amet et Broadwurschtbudn erat feugiat laborum vel mim Radl foahn duo owe. Oba aliquip Hemad, vero Gstanzl clita von vui qui! Glacht praesent eu, ex heid gfoids ma sagrisch guad dolor laoreet auf gehds beim Schichtl sammawiedaguad et umananda. Ea tincidunt fugiat justo erat. Diam lem und lem lossn Dolores !</li>
                <li>Feugiat kasd ea Klampfn sea, dolores tempor. Sauakraud vel augue et dolor nostrud des muas ma hoid kenna, ea eum. Koa zzril dolores, Gschicht. Sammawiedaguad et no a Maß duis sed vulputate ipsum elit! San consequat dolor, illum labore gwiss blandit Spuiratz dolor. Praesent ut schnacksln, sea mollit Marei cupiditat vero vero! </li>
            </ul>
            <a href="#" class="comments"><span class="button">1738 Comments</span></a>
    </div>

    <div class="video-content">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ARe9FupzuOA" frameborder="0" allowfullscreen></iframe>
        <p class="content">Warning: This video will make you want to chanege your career</p>

        <h4 class="title"> <span class="button">Where Are They Now?</span></h4>
        <h4 class="news-content_subheader">By APP ACADEMY ALUMNI </h4>
        <p class="content">First hand stories from a/A graduates about transitioning to engineering positions at top tech companies in SF.</p>


        <h4 class="title"> <span class="button">Cat Academy</span></h4>
        <h4 class="news-content_subheader">By APP ACADEMY DIRECTOR OF PRODUCTS </h4>
        <p class="content">a/As latest product targets those interested in owning the popualr feline compainion by providing a curated cat care Curriculum.</p>
    </div>

                
    <div class="outer">

        <h1>The Opinion Pages</h1>
        <div class="option-page">



            <div class="sub1">
            
            </div>


            <div class="sub2">
            
            </div>

        </div>

        <input class="outer-input" type="text" placeholder="Get the Opinion">
    </div>
</div>
