

<div class="masthead-container">

    <ul class="nav-code">
        <li class="code">CSS</li>
        <li class="code">HTML</li>
        <li class="code">JAVASCRIP</li>
        <li class="code">RUBY</li>
    </ul>

    <h1 class="logo">App Academy Times</h1>

    <ul class="nav">
        <li class="nav-item">Tuesday, October 18,2016</li>
        <li class="nav-item"><i class="fa fa-newspaper"></i><span class="nav-span">Todays Paper</span></li>
        <li class="nav-item"><i class="fa fa-video"></i><span class="nav-span">Video</span></li>
        <li class="nav-item">77°F</li>
        <li class="nav-item">AAO <span class="green">+100%</span></li>
    </ul>
    
</div>

