<div class="masthead-section">
    <ul>
        <li class="nav-sec"><span>World</span></li>
        <li class="nav-sec"><span>San Francisco</span></li>
        <li class="nav-sec"><span>New York</span></li>
        <li class="nav-sec"><span>Bootcamp Prep</span></li>
        <li class="nav-sec"><span>Jumpstart</span></li>
        <li class="nav-sec"><span>Online</span></li>
        <li class="nav-sec"><span>Market</span></li>
        <li class="nav-sec"><span>Sales</span></li>
        <li class="nav-sec"><span>TalentMatch</span></li>
        <li class="nav-sec"><span>Alumni</span></li>
        <li class="nav-sec"><span class="all">ALL</span></li>
    </ul>



</div>